.device-container {
  background-color: #f7f7f7;
  height: 760px;

  select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }

  /* For IE10 */
  select::-ms-expand {
    display: none;
  }

  .title {
    position: absolute;
    width: 200px;
    height: 36px;
    left: 224px;
    top: 104px;

    /* 24/24 Bold */

    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    /* Orange/$-Orange-500 */

    color: #ff7506;
  }

  .status-action {
    position: absolute;
    width: 300px;
    height: 72px;
    left: 224px;
    top: 156px;

    .arrowIcon-1 {
      position: absolute;
      top: 43px;
      left: 260px;
      cursor: pointer;
    }

    select {
      box-sizing: border-box;

      /* Auto layout */

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 12px;
      gap: 24px;

      position: absolute;
      width: 300px;
      height: 44px;
      top: 33px;

      /* white */

      background: #ffffff;
      /* Gray/$-gray-100 */

      border: 1.5px solid #d4d4d7;
      border-radius: 8px;
    }

    span {
      position: absolute;
      width: 152px;
      height: 24px;

      /* 16/16 Semi */

      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      /* Gray/$-gray-500 */

      color: #282739;
    }
  }

  .status-connect {
    position: absolute;
    width: 300px;
    height: 72px;
    left: 548px;
    top: 156px;

    .arrowIcon-2 {
      position: absolute;
      top: 43px;
      left: 260px;
      cursor: pointer;
    }

    span {
      position: absolute;
      width: 126px;
      height: 24px;

      /* 16/16 Semi */

      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      /* Gray/$-gray-500 */

      color: #282739;
    }

    select {
      box-sizing: border-box;

      /* Auto layout */

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 12px;
      gap: 24px;

      position: absolute;
      width: 300px;
      height: 44px;
      top: 33px;

      /* white */

      background: #ffffff;
      /* Gray/$-gray-100 */

      border: 1.5px solid #d4d4d7;
      border-radius: 8px;
    }
  }

  .search-box {
    position: absolute;
    width: 300px;
    height: 72px;
    left: 1036px;
    top: 156px;

    .searchIcon {
      position: absolute;
      top: 43px;
      left: 260px;
      cursor: pointer;
    }

    span {
      position: absolute;
      width: 62px;
      height: 23.96px;

      /* 16/16 Semi */

      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      /* Gray/$-gray-500 */

      color: #282739;
    }

    input {
      box-sizing: border-box;

      /* Auto layout */

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 16px 10px 12px;
      gap: 10px;

      position: absolute;
      width: 300px;
      height: 44px;
      top: 33px;

      /* white */

      background: #ffffff;
      /* Gray/$-gray-100 */

      border: 1.5px solid #d4d4d7;
      border-radius: 8px;
    }
  }

  .table-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1112px;
    height: 490px;
    left: 224px;
    top: 254px;

    /* Shadowbox */

    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-radius: 120px;

    .table-body {
      .table-group-0,
      .table-group-2,
      .table-group-4,
      .table-group-6,
      .table-group-8 {
        background: #ffffff;

        .b-first {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 17px 0px 16px;
          gap: 10px;
          border-right: 1px solid #ffe3cd;

          width: 103px;
          height: 49px;

          span {
            width: 47px;
            height: 21px;

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            color: #535261;

            flex: none;
            order: 0;
            flex-grow: 0;
          }
        }

        .b-second {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 8px;
          gap: 10px;
          border-right: 1px solid #ffe3cd;

          width: 99px;
          height: 49px;

          /* White */

          span {
            width: 34px;
            height: 21px;

            /* 14/14 Reg */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            /* Gray/$-gray-400 Text */

            color: #535261;
          }
        }

        .b-third {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 8px;
          gap: 10px;
          border-right: 1px solid #ffe3cd;

          width: 138px;
          height: 49px;

          span {
            width: 86px;
            height: 21px;

            /* 14/14 Reg */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            /* Gray/$-gray-400 Text */

            color: #535261;
          }
        }

        .b-four {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 8px;
          gap: 10px;
          border-right: 1px solid #ffe3cd;

          width: 171px;
          height: 49px;

          span {
            width: 110px;
            height: 21px;

            /* 14/14 Reg */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            display: flex;
            align-items: center;

            /* Gray/$-gray-400 Text */

            color: #535261;
          }
        }

        .b-fit {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 8px;
          gap: 10px;
          border-right: 1px solid #ffe3cd;

          width: 145px;
          height: 49px;

          span {
            width: 70px;
            height: 21px;

            /* 14/14 Reg */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            display: flex;
            align-items: center;

            /* Gray/$-gray-400 Text */

            color: #535261;
          }
        }

        .b-six {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0px 17px;
          border-right: 1px solid #ffe3cd;

          width: 260px;
          height: 49px;

          .more {
            width: 64px;
            height: 21px;

            /* 14/14 Reg Underline */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            text-decoration-line: underline;

            /* Blue */

            color: #4277ff;
            cursor: pointer;
          }

          span {
            width: 178px;
            height: 21px;

            /* 14/14 Reg */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            /* Gray/$-gray-400 Text */

            color: #535261;
          }
        }

        .b-seven {
          /* Auto layout */

          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 17px;
          gap: 10px;
          border-right: 1px solid #ffe3cd;

          width: 90px;
          height: 49px;

          span {
            width: 45px;
            height: 21px;

            /* 14/14 Reg Underline */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            text-decoration-line: underline;

            /* Blue */

            color: #4277ff;
            cursor: pointer;
          }
        }

        .b-last {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 17px;
          gap: 10px;

          width: 106px;
          height: 49px;

          span {
            width: 57px;
            height: 21px;

            /* 14/14 Reg Underline */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            text-decoration-line: underline;

            /* Blue */

            color: #4277ff;
            cursor: pointer;
          }
        }
      }

      .table-group-1,
      .table-group-3,
      .table-group-5,
      .table-group-7,
      .table-group-9 {
        background: #fff2e7;

        .b-first {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 17px 0px 16px;
          gap: 10px;
          border-right: 1px solid #ffe3cd;

          width: 103px;
          height: 49px;

          span {
            width: 47px;
            height: 21px;

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            color: #535261;

            flex: none;
            order: 0;
            flex-grow: 0;
          }
        }

        .b-second {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 8px;
          gap: 10px;
          border-right: 1px solid #ffe3cd;

          width: 99px;
          height: 49px;

          /* White */

          span {
            width: 34px;
            height: 21px;

            /* 14/14 Reg */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            /* Gray/$-gray-400 Text */

            color: #535261;
          }
        }

        .b-third {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 8px;
          gap: 10px;
          border-right: 1px solid #ffe3cd;

          width: 138px;
          height: 49px;

          span {
            width: 86px;
            height: 21px;

            /* 14/14 Reg */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            /* Gray/$-gray-400 Text */

            color: #535261;
          }
        }

        .b-four {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 8px;
          gap: 10px;
          border-right: 1px solid #ffe3cd;

          width: 171px;
          height: 49px;

          span {
            width: 110px;
            height: 21px;

            /* 14/14 Reg */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            display: flex;
            align-items: center;

            /* Gray/$-gray-400 Text */

            color: #535261;
          }
        }

        .b-fit {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 8px;
          gap: 10px;
          border-right: 1px solid #ffe3cd;

          width: 145px;
          height: 49px;

          span {
            width: 70px;
            height: 21px;

            /* 14/14 Reg */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            display: flex;
            align-items: center;

            /* Gray/$-gray-400 Text */

            color: #535261;
          }
        }

        .b-six {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0px 17px;

          width: 260px;
          height: 49px;
          border-right: 1px solid #ffe3cd;

          .more {
            width: 64px;
            height: 21px;

            /* 14/14 Reg Underline */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            text-decoration-line: underline;

            /* Blue */

            color: #4277ff;
            cursor: pointer;
          }

          span {
            width: 178px;
            height: 21px;

            /* 14/14 Reg */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            /* Gray/$-gray-400 Text */

            color: #535261;
          }
        }

        .b-seven {
          /* Auto layout */

          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 17px;
          gap: 10px;
          border-right: 1px solid #ffe3cd;

          width: 90px;
          height: 49px;

          span {
            width: 45px;
            height: 21px;

            /* 14/14 Reg Underline */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            text-decoration-line: underline;

            /* Blue */

            color: #4277ff;
            cursor: pointer;
          }
        }

        .b-last {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px 17px;
          gap: 10px;

          width: 106px;
          height: 49px;

          span {
            width: 57px;
            height: 21px;

            /* 14/14 Reg Underline */

            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */

            text-decoration-line: underline;

            /* Blue */

            color: #4277ff;
            cursor: pointer;
          }
        }
      }
    }

    .table-header {
      display: flex;
      flex-direction: row;
      width: 1112px;

      .s-first {
        border-top-left-radius: 14px;
        width: 103px;
      }

      .s-second {
        width: 100px;
      }

      .s-third {
        width: 138px;
      }

      .s-four {
        width: 171px;
      }

      .s-fit {
        width: 145px;
      }

      .s-six {
        width: 260px;
      }

      .s-seven {
        width: 90px;
      }

      .s-last {
        width: 106px;
        border-top-right-radius: 14px;
      }

      span {
        border-right: 1px solid #ffe3cd;
        background-color: #ff9138;
        padding: 10px;

        color: #ffffff;
      }
    }
  }
}
