.device-container {
  background-color: #f7f7f7;
  height: 760px;

  select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }

  /* For IE10 */
  select::-ms-expand {
    display: none;
  }

  .title {
    position: absolute;
    width: 200px;
    height: 36px;
    left: 224px;
    top: 104px;

    /* 24/24 Bold */

    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    /* Orange/$-Orange-500 */

    color: #ff7506;
  }

  .status-action {
    position: absolute;
    width: 300px;
    height: 72px;
    left: 224px;
    top: 156px;

    .arrowIcon-1 {
      position: absolute;
      top: 43px;
      left: 260px;
      cursor: pointer;
    }

    select {
      box-sizing: border-box;

      /* Auto layout */

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 12px;
      gap: 24px;

      position: absolute;
      width: 300px;
      height: 44px;
      top: 33px;

      /* white */

      background: #ffffff;
      /* Gray/$-gray-100 */

      border: 1.5px solid #d4d4d7;
      border-radius: 8px;
    }

    span {
      position: absolute;
      width: 152px;
      height: 24px;

      /* 16/16 Semi */

      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      /* Gray/$-gray-500 */

      color: #282739;
    }
  }

  .status-connect {
    position: absolute;
    width: 300px;
    height: 72px;
    left: 548px;
    top: 156px;

    .arrowIcon-2 {
      position: absolute;
      top: 43px;
      left: 260px;
      cursor: pointer;
    }

    span {
      position: absolute;
      width: 126px;
      height: 24px;

      /* 16/16 Semi */

      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      /* Gray/$-gray-500 */

      color: #282739;
    }

    select {
      box-sizing: border-box;

      /* Auto layout */

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 12px;
      gap: 24px;

      position: absolute;
      width: 300px;
      height: 44px;
      top: 33px;

      /* white */

      background: #ffffff;
      /* Gray/$-gray-100 */

      border: 1.5px solid #d4d4d7;
      border-radius: 8px;
    }
  }

  .search-box {
    position: absolute;
    width: 300px;
    height: 72px;
    left: 1036px;
    top: 156px;

    .searchIcon {
      position: absolute;
      top: 43px;
      left: 260px;
      cursor: pointer;
    }

    span {
      position: absolute;
      width: 62px;
      height: 23.96px;

      /* 16/16 Semi */

      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      /* Gray/$-gray-500 */

      color: #282739;
    }

    input {
      box-sizing: border-box;

      /* Auto layout */

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 16px 10px 12px;
      gap: 10px;

      position: absolute;
      width: 300px;
      height: 44px;
      top: 33px;

      /* white */

      background: #ffffff;
      /* Gray/$-gray-100 */

      border: 1.5px solid #d4d4d7;
      border-radius: 8px;
    }
  }
}
