.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 4px;
  gap: 4px;

  position: absolute;
  width: 80px;
  height: 94px;
  left: 1360px;
  top: 258px;

  /* Orange/$-Orange-50 */

  background: #fff2e7;
  /* down */

  box-shadow: 0px 0px 6px #e7e9f2;
  border-radius: 8px 0px 0px 8px;

  cursor: pointer;

  .text {
    width: 50px;
    height: 38px;

    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    /* Orange/$-Orange-500 */

    color: #ff7506;
  }
}
